.venv/
venv/
__pycache__/
*.pyc
*.log
*.tmp

# Relatórios do Robot Framework e temporários
log.html
output.xml
report.html
PIPE
produtos.json
resultado_catalogo.json
catalogo_estoque.json
catalogo_estoque.csv